*{
    padding: 0;
    margin: 0;
}
.container{
    border: 5px solid;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    /* position: relative; */
}
.details{
    margin-left: 10px;
    /* position: absolute; */
}
.details .last{
    margin-left: 100px
}
.details .first-last .two{
    margin-left: 31%;   
}
.details .mail-tag{
    margin-top: 10px
}
.details .mail .mail-input{
    width: 55%;
}
.details .mail{
    margin-top: 5px;
}
.star-cb-group {
    font-size: 0px;
    unicode-bidi: bidi-override;
    direction: rtl;
  }
  .star-cb-group * {
    font-size: 1rem;
  }
  .star-cb-group > input {
    display: none;
  }
  .star-cb-group > input + label {
    display: inline-block;
    overflow: hidden;
    text-indent: 9999px;
    width: 1em;
    height: 2em;
    white-space: nowrap;
    cursor: pointer;
  }
  .star-cb-group > input + label:before {
    display: inline-block;
    text-indent: -9999px;
    content: "☆";
    color: #888;
  }
  .star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
    content: "★";
    color: #e52;
    text-shadow: 0 0 1px #333;
  }
  .star-cb-group > .star-cb-clear + label {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em;
  }
  .star-cb-group > .star-cb-clear + label:before {
    width: .5em;
  }
  .star-cb-group:hover > input + label:before {
    content: "☆";
    color: #888;
    text-shadow: none;
  }
  .star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
    content: "★";
    color: #e52;
    text-shadow: 0 0 1px #333;
  }
.details .experience{
    padding: 10px;
}
.details .rating{
    margin-top: 5px;

}
.details .rating-qes{
    margin-top: 15px;
}
.details .satisfied-qes{
    margin-top: 15px;
}
.details .feedback-table{
    margin-top: 15px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
td, th {
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }  
  td:nth-child(2){
    text-align: center;
  }
  td:nth-child(3){
    text-align: center;
  }
  td:nth-child(4){
    text-align: center;
  }
  td:nth-child(5){
    text-align: center;
  }
  td:nth-child(6){
    text-align: center;
  }
.details .comments{
    padding: 10px;
}
.details .submit-button{
    padding: 10px;
}
